.letter {
  display: inline-block;
  width: 200px;
  height: 200px;
  position: relative;
  margin-right: 2em;
  margin-bottom: 2em;
}

.a .top {
  /*display:block;*/
  height: 200px;
  width: 200px;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  border-bottom-color: transparent;
  border-top-right-radius: 90px;
  border-top-left-radius: 90px;
  border-left-color: black;
  border-right-color:black;
  left: 0;
  top: 0;
  bottom: 0;
}

.a .cross {
  background: black;
  height: 10px;
  width: 200px;
  position: absolute;
  left: 0;
  top: 100px;
}

.b .top {
  display:block;
  width: 175px;
  height: 90px;
  /*width: 75%;
  height: 45%*/
  border-style: solid;
  border-width: 10px;
  border-color: black;
  /*border-bottom-color: transparent;*/
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
  border-top-left-radius: 90px;
  top: 0px;
  position: absolute;
}

.b .bottom {
  display:block;
  width: 200px;
  height: 100px;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  border-top-color: transparent;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
  top: 100px;
  position: absolute;
}

.c {
  display:block;
  width: 200px;
  height: 200px;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  border-right-color: transparent;
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
}

.d {
  display:block;
  width: 200px;
  height: 200px;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
}

.e {
  display:block;
  width: 200px;
  height: 200px;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  border-right-color: transparent;
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
}

.e .cross {
  background: black;
  height: 10px;
  width: 200px;
  position: absolute;
  left: 0;
  top: 100px;
}

.f {
  display:block;
  width: 200px;
  height: 200px;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-top-left-radius: 90px;
}

.f .cross {
  background: black;
  height: 10px;
  width: 200px;
  position: absolute;
  left: 0;
  top: 100px;
}

.g .body {
  display:block;
  width: 200px;
  height: 200px;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  border-right-color: transparent;
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
}

.g .right {
  display:block;
  width: 10px;
  height: 50px;
  bottom: 5px;
  right:0px;
}
