.letter {
  display: inline-block;
  width: 150px;
  height: 200px;
  position: relative;
  margin-right: 1em;
  margin-bottom: 1em;
}

.h .left {
  background: black;
  width: 10px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.h .left2 {
  background: black;
  width: 10px;
  position: absolute;
  left: 12px;
  top: 0;
  bottom: 0;
}

.h .left3 {
  background: black;
  width: 10px;
  position: absolute;
  left: 24px;
  top: 0;
  bottom: 0;
}

.h .middle {
  background: black;
  height: 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
}

.h .bar {
  background: black;
  width: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50px;
}

.h .right {
  background: black;
  width: 10px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.e .top {
  background: black;
  height: 10px;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
}

.e .middle {
  background: black;
  height: 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
}

.e .bar {
  background: black;
  width: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50px;
}

.e .bottom {
  background: black;
  height: 10px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

.e .left {
  background: black;
  width: 10px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.e .left2 {
  background: black;
  width: 10px;
  position: absolute;
  left: 12px;
  top: 0;
  bottom: 0;
}

.e .left3 {
  background: black;
  width: 10px;
  position: absolute;
  left: 24px;
  top: 0;
  bottom: 0;
}


.l .bar {
  background: black;
  width: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50px;
}

.l .bottom {
  background: black;
  height: 10px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

.l .left {
  background: black;
  width: 10px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.l .left2 {
  background: black;
  width: 10px;
  position: absolute;
  left: 12px;
  top: 0;
  bottom: 0;
}

.l .left3 {
  background: black;
  width: 10px;
  position: absolute;
  left: 24px;
  top: 0;
  bottom: 0;
}

.o .top {
  background: black;
  height: 10px;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
}


.o .bar {
  background: black;
  width: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50px;
}

.o .bottom {
  background: black;
  height: 10px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

.o .right {
  background: black;
  width: 10px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.o .left {
  background: black;
  width: 10px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.o .left2 {
  background: black;
  width: 10px;
  position: absolute;
  left: 12px;
  top: 0;
  bottom: 0;
}

.o .left3 {
  background: black;
  width: 10px;
  position: absolute;
  left: 24px;
  top: 0;
  bottom: 0;
}
