.letter {
  display: inline-block;
  width: 200px;
  height: 200px;
  position: relative;
  margin-right: 2em;
  margin-bottom: 2em;
  float: left;
  background-color:black;
}

.a .top {
  height: 180px;
  width: 200px;
  border-style: solid;
  border-width: 10px;
  border-color: lime;
  border-bottom-color: transparent;
  border-top-right-radius: 90px;
  border-top-left-radius: 90px;
  border-left-color: lime;
  border-right-color:lime;
  left: 0;
  top: 0;
  bottom: 0;
}

.a .bottom {
  background: lime;
  height: 10px;
  width: 50px;
  position: absolute;
  left: 0;
  bottom: 10px;
}

.a .open {
  background: lime;
  height: 180px;
  width: 10px;
  position: absolute;
  left: 50px;
  bottom: 10px;
}

.a .cross {
  background: lime;
  height: 10px;
  width: 220px;
  left: 0px;
  top: 100px;
  position: absolute;
}

.b .top {
  display:block;
  width: 200px;
  height: 90px;
  border-style: solid;
  border-width: 10px;
  border-color: lime;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
  border-top-left-radius: 90px;
  top: 0px;
  position: absolute;
}

.b .bottom {
  display:block;
  width: 175px;
  height: 100px;
  border-style: solid;
  border-width: 10px;
  border-color: lime;
  border-top-color: transparent;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
  /*top: 100px;*/
  bottom: 0;
  position: absolute;
}

.b .open {
  background: lime;
  height: 180px;
  width: 10px;
  position: absolute;
  left: 50px;
  bottom: 10px;
}

.b .open2 {
  background: lime;
  height: 60px;
  width: 10px;
  position: absolute;
  left: 50px;
  bottom: 20px;
}

.c {
  display:block;
  width: 180px;
  height: 180px;
  border-style: solid;
  border-width: 10px;
  border-color: lime;
  border-right-color: transparent;
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
}

.c .open {
  background: lime;
  height: 180px;
  width: 10px;
  position: absolute;
  left: 50px;
  bottom: 0px;
}

.d {
  display:block;
  width: 180px;
  height: 180px;
  border-style: solid;
  border-width: 10px;
  border-color: lime;
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
}

.d .open {
  background: lime;
  height: 180px;
  width: 10px;
  position: absolute;
  left: 50px;
  bottom: 0px;
}

.e {
  display:block;
  width: 180px;
  height: 180px;
  border-style: solid;
  border-width: 10px;
  border-color: lime;
  border-right-color: transparent;
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
}

.e .cross {
  background: lime;
  height: 10px;
  width: 180px;
  left: 0px;
  top: 100px;
  position: absolute;
}

.e .open {
  background: lime;
  height: 180px;
  width: 10px;
  position: absolute;
  left: 50px;
  bottom: 0px;
}

.f {
  display:block;
  width: 180px;
  height: 180px;
  border-style: solid;
  border-width: 10px;
  border-color: lime;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-top-left-radius: 90px;
}

.f .cross {
  background: lime;
  height: 10px;
  width: 180px;
  left: 0px;
  top: 100px;
  position: absolute;
}

.f .bottom {
  background: lime;
  height: 10px;
  width: 50px;
  position: absolute;
  left: 0;
  bottom: 0px;
}

.f .open {
  background: lime;
  height: 180px;
  width: 10px;
  position: absolute;
  left: 50px;
  bottom: 0px;
}

.g {
  display:block;
  width: 180px;
  height: 180px;
  border-style: solid;
  border-width: 10px;
  border-color: lime;
  border-right-color: transparent;
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
}

.g .open {
  background: lime;
  height: 180px;
  width: 10px;
  position: absolute;
  left: 50px;
  bottom: 0px;
}

.g .cross {
  background: lime;
  height: 10px;
  width: 100px;
  right: 0px;
  top: 100px;
  position: absolute;
}

.g .right {
  background: lime;
  height: 120px;
  width: 10px;
  position: absolute;
  right: 0;
  bottom: 0px;
}

.h {
  display:block;
  width: 200px;
  height: 200px;
}

.h .top {
  background: lime;
  height: 10px;
  width: 50px;
  position: absolute;
  left: 0;
  top: 0px;
}

.h .bottom {
  background: lime;
  height: 10px;
  width: 50px;
  position: absolute;
  left: 0;
  bottom: 0px;
}

.h .right {
  background: lime;
  height: 200px;
  width: 10px;
  position: absolute;
  right: 0;
  bottom: 0px;
}

.h .left {
  background: lime;
  height: 200px;
  width: 10px;
  position: absolute;
  left: 0;
  bottom: 0px;
}

.h .open {
  background: lime;
  height: 200px;
  width: 10px;
  position: absolute;
  left: 50px;
  bottom: 0px;
}

.h .cross {
  background: lime;
  height: 10px;
  width: 200px;
  left: 0px;
  top: 100px;
  position: absolute;
}

.i {
  display:block;
  width: 200px;
  height: 200px;
}

.i .top {
  background: lime;
  height: 10px;
  width: 200px;
  position: absolute;
  right: 0;
  top: 0px;
}

.i .bottom {
  background: lime;
  height: 10px;
  width: 200px;
  position: absolute;
  left: 0;
  bottom: 0px;
}

.i .open {
  background: lime;
  height: 200px;
  width: 10px;
  position: absolute;
  left: 50px;
  bottom: 0px;
}

.i .center {
  background: lime;
  height: 200px;
  width: 10px;
  position: absolute;
  left: 100px;
  bottom: 0px;
}

.j {
  display:block;
  width: 200px;
  height: 200px;
}

.j .top {
  background: lime;
  height: 10px;
  width: 200px;
  position: absolute;
  right: 0;
  top: 0px;
}

.j .open {
  background: lime;
  height: 190px;
  width: 10px;
  position: absolute;
  left: 50px;
  bottom: 10px;
}

.j .leg {
  height: 180px;
  width: 100px;
  border-style: solid;
  border-width: 10px;
  border-color: lime;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-right-radius: 90px;
  left: 100px;
  top: 0;
}

.k {
  display:block;
  width: 200px;
  height: 200px;
}

.k .left {
  background: lime;
  height: 200px;
  width: 10px;
  position: absolute;
  left: 0;
  bottom: 0px;
}

.k .open {
  background: lime;
  height: 200px;
  width: 10px;
  position: absolute;
  left: 50px;
  bottom: 0px;
}

.k .cross {
  background: lime;
	height: 150px;
	width: 10px;
	position: absolute;
	-ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
  right: 76px;
  top: 65px;
}

.k .cross2 {
  background: lime;
	height: 125px;
	width: 10px;
	position: absolute;
	-ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  right: 88px;
  bottom: 90px;
}

.k .top {
  background: lime;
  height: 10px;
  width: 50px;
  position: absolute;
  left: 0;
  top: 0px;
}

.k .bottom {
  background: lime;
  height: 10px;
  width: 50px;
  position: absolute;
  left: 0;
  bottom: 0px;
}

.l {
  display:block;
  width: 200px;
  height: 200px;
}

.l .bottom {
  background: lime;
  height: 10px;
  width: 200px;
  position: absolute;
  right: 0;
  bottom: 0px;
}

.l .open {
  background: lime;
  height: 200px;
  width: 10px;
  position: absolute;
  left: 50px;
  bottom: 0px;
}
.l .top {
  background: lime;
  height: 10px;
  width: 50px;
  position: absolute;
  left: 0;
  top: 0px;
}

.l .left {
  background: lime;
  height: 200px;
  width: 10px;
  position: absolute;
  left: 0;
  bottom: 0px;
}


.m {
  display:block;
  width: 200px;
  height: 200px;
}

.m .cross2 {
  background: lime;
	height: 140px;
	width: 10px;
	position: absolute;
	-ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  right: 48px;
  bottom: 77px;
}

.m .cross {
  background: lime;
	height: 140px;
	width: 10px;
	position: absolute;
	-ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
  left: 48px;
  bottom: 77px;
}

.m .left {
  background: lime;
  height: 200px;
  width: 10px;
  position: absolute;
  left: 0;
  bottom: 0px;
}

.m .open {
  background: lime;
  height: 147px;
  width: 10px;
  position: absolute;
  left: 50px;
  bottom: 0px;
}

.m .right {
  background: lime;
  height: 200px;
  width: 10px;
  position: absolute;
  right: 0;
  bottom: 0px;
}

.m .bottom {
  background: lime;
  height: 10px;
  width: 50px;
  position: absolute;
  left: 0;
  bottom: 0px;
}

.n {
  display:block;
  width: 200px;
  height: 200px;
}

.n .left {
  background: lime;
  height: 200px;
  width: 10px;
  position: absolute;
  left: 0;
  bottom: 0px;
}

.n .open {
  background: lime;
  height: 145px;
  width: 10px;
  position: absolute;
  left: 50px;
  bottom: 0px;
}

.n .cross {
  background: lime;
	height: 270px;
	width: 10px;
	position: absolute;
	-ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
  right: 95px;
  top: -34px;
}

.n .right {
  background: lime;
  height: 200px;
  width: 10px;
  position: absolute;
  right: 0;
  bottom: 0px;
}

.n .bottom {
  background: lime;
  height: 10px;
  width: 50px;
  position: absolute;
  left: 0;
  bottom: 0px;
}

.o {
  display:block;
  width: 200px;
  height: 200px;
}

  .o .top {
    height: 180px;
    width: 200px;
    border-style: solid;
    border-width: 10px;
    border-color: lime;
    border-radius: 90px;
    left: 0;
    bottom: 0;
  }

  .o .open {
    background: lime;
    height: 180px;
    width: 10px;
    position: absolute;
    left: 50px;
    bottom: 10px;
  }

.p {
  display:block;
  width: 200px;
  height: 200px;
}

  .p .top {
    width: 175px;
    height: 90px;
    border-style: solid;
    border-width: 10px;
    border-color: lime;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 90px;
    border-top-right-radius: 90px;
    border-top-left-radius: 90px;
    top: 0px;
    position: absolute;
  }

  .p .bottom {
    background: lime;
    height: 10px;
    width: 50px;
    position: absolute;
    left: 0;
    bottom: 0px;
  }

  .p .open {
    background: lime;
    height: 200px;
    width: 10px;
    position: absolute;
    left: 50px;
    bottom: 0;
  }

  .p .left {
    background: lime;
    height: 150px;
    width: 10px;
    position: absolute;
    left: 0;
    bottom: 0px;
  }

.q {
  display:block;
  width: 200px;
  height: 200px;
}

    .q .top {
      height: 180px;
      width: 200px;
      border-style: solid;
      border-width: 10px;
      border-color: lime;
      border-radius: 90px;
      left: 0;
      bottom: 0;
    }

    .q .open {
      background: lime;
      height: 180px;
      width: 10px;
      position: absolute;
      left: 50px;
      bottom: 10px;
    }

    .q .tail {
      background: lime;
      height: 50px;
      width: 10px;
      position: absolute;
      right: 25px;
      bottom: 0;
    }

.r {
  display:block;
  width: 200px;
  height: 200px;
}

.r .bottom {
  background: lime;
  height: 10px;
  width: 50px;
  position: absolute;
  left: 0;
  bottom: 0px;
}

      .r .top {
        width: 175px;
        height: 90px;
        border-style: solid;
        border-width: 10px;
        border-color: lime;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 90px;
        border-top-right-radius: 90px;
        border-top-left-radius: 90px;
        top: 0px;
        position: absolute;
      }

      .r .open {
        background: lime;
        height: 200px;
        width: 10px;
        position: absolute;
        left: 50px;
        bottom: 0;
      }

      .r .left {
        background: lime;
        height: 150px;
        width: 10px;
        position: absolute;
        left: 0;
        bottom: 0px;
      }

      .r .cross {
        background: lime;
      	height: 135px;
      	width: 10px;
      	position: absolute;
      	-ms-transform: rotate(-45deg); /* IE 9 */
        -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
        transform: rotate(-45deg);
        right: 85px;
        top: 85px;
      }

.s {
  display:block;
  width: 200px;
  height: 200px;
}
  .s .top {
    display:block;
    width: 130px;
    height: 90px;
    border-style: solid;
    border-width: 10px;
    border-color: lime;
    border-radius:90px;
    border-right-color:transparent;
    border-bottom-right-radius:0px;
    border-top-right-radius:0px;
    /*border-bottom-width: 180px;*/
    top: 0px;
    position: absolute;
  }

  .s .bottom {
    height: 80px;
    width: 140px;
    border-style: solid;
    border-width: 10px;
    border-color: lime;
    border-radius: 60px;
    border-left-color:transparent;
    border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    right: 0;
    bottom: 0;
    position:absolute;
  }
  .s .open {
    background: lime;
    height: 110px;
    width: 10px;
    position: absolute;
    left: 50px;
    top: 0px;
  }

.t {
  display:block;
  width: 200px;
  height: 200px;
}

  .t .top {
    background: lime;
    height: 10px;
    width: 200px;
    position: absolute;
    right: 0;
    top: 0px;
  }

  .t .open {
    background: lime;
    height: 200px;
    width: 10px;
    position: absolute;
    left: 50px;
    bottom: 0px;
  }
  .t .bottom {
    background: lime;
    height: 10px;
    width: 50px;
    position: absolute;
    left: 50px;
    bottom: 0px;
  }


  .t .middle {
    background: lime;
    height: 200px;
    width: 10px;
    position: absolute;
    left: 100px;
    bottom: 0px;
  }

.u {
  display:block;
  width: 200px;
  height: 200px;
}

    .u .top {
      height: 180px;
      width: 180px;
      border-style: solid;
      border-width: 10px;
      border-color: lime;
      border-radius: 90px;
      border-top-color:transparent;
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
      left: 0;
      bottom: 0;
    }

    .u .open {
      background: lime;
      height: 180px;
      width: 10px;
      position: absolute;
      left: 50px;
      bottom: 10px;
    }

    .u .top2 {
      background: lime;
      height: 10px;
      width: 60px;
      position: absolute;
      left: 0;
      top: 0px;
    }

.v {
  display:block;
  width: 200px;
  height: 200px;
}
    .v .cross2 {
      background: lime;
    	height: 140px;
    	width: 10px;
    	position: absolute;
    	-ms-transform: rotate(45deg); /* IE 9 */
      -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
      transform: rotate(45deg);
      right: 48px;
      top: 75px;
    }

    .v .cross {
      background: lime;
    	height: 140px;
    	width: 10px;
    	position: absolute;
    	-ms-transform: rotate(-45deg); /* IE 9 */
      -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
      transform: rotate(-45deg);
      left: 48px;
      top: 75px;
    }

    .v .left {
      background: lime;
      height: 99px;
      width: 10px;
      position: absolute;
      left: 0;
      top: 0px;
    }

    .v .open {
      background: lime;
      height: 150px;
      width: 10px;
      position: absolute;
      left: 50px;
      bottom: 50px;
    }

    .v .right {
      background: lime;
      height: 99px;
      width: 10px;
      position: absolute;
      right: 0;
      top: 0px;
    }
    .v .top {
      background: lime;
      height: 10px;
      width: 60px;
      position: absolute;
      left: 0;
      top: 0px;
    }

.w {
  display:block;
  width: 200px;
  height: 200px;
}

  .w .top {
    background: lime;
    height: 10px;
    width: 60px;
    position: absolute;
    left: 0;
    top: 10px;
  }
    .w .left {
      height: 180px;
      width: 115px;
      border-style: solid;
      border-width: 10px;
      border-color: lime;
      border-radius: 90px;
      border-top-color:transparent;
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
      left: 0;
      bottom: 0;
      position:absolute;
    }

    .w .right {
      height: 180px;
      width: 85px;
      border-style: solid;
      border-width: 10px;
      border-color: lime;
      border-radius: 90px;
      border-top-color:transparent;
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
      border-left-color: transparent;
      right: 0px;
      bottom: 0;
      position:absolute;
    }

    .w .open {
      background: lime;
      height: 180px;
      width: 10px;
      position: absolute;
      left: 50px;
      top: 10px;
    }

.x {
  display:block;
  width: 200px;
  height: 200px;
}
  .x .top {
    background: lime;
    height: 10px;
    width: 50px;
    position: absolute;
    left: 2px;
    top: 0px;
  }
        .x .cross2 {
          background: lime;
        	height: 277px;
        	width: 10px;
        	position: absolute;
        	-ms-transform: rotate(45deg); /* IE 9 */
          -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
          transform: rotate(45deg);
          right: 78px;
          top: -34px;
        }

        .x .cross {
          background: lime;
        	height: 277px;
        	width: 10px;
        	position: absolute;
        	-ms-transform: rotate(-45deg); /* IE 9 */
          -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
          transform: rotate(-45deg);
          left: 100px;
          top: -34px;
        }

        .x .open {
          background: lime;
          height: 168px;
          width: 10px;
          position: absolute;
          left: 50px;
          top: 0px;
        }


.y {
  display:block;
  width: 200px;
  height: 200px;
}

.y .top {
  background: lime;
  height: 10px;
  width: 60px;
  position: absolute;
  left: 0;
  top: 0px;
}
    .y .right2 {
      height: 180px;
      width: 180px;
      border-width:10px;
      position: absolute;
      right: 0;
      bottom: 0px;
      border-bottom-right-radius: 90px;
      border-color:lime;
      border-style:solid;
      border-top-color:transparent;
      border-left-color: transparent;
    }

        .y .right {
          height: 70px;
          width: 180px;
          border-style: solid;
          border-width: 10px;
          border-color: lime;
          border-radius: 75px;
          border-top-color:transparent;
          border-top-right-radius: 0px;
          border-top-left-radius: 0px;
          right: 0px;
          top: 0;
          position:absolute;
        }

        .y .open {
          background: lime;
          height: 200px;
          width: 10px;
          position: absolute;
          left: 50px;
          top: 0px;
        }

.z {
  display:block;
  width: 200px;
  height: 200px;
}

.z .top {
  background: lime;
  height: 10px;
  width: 200px;
  position: absolute;
  right: 0;
  top: 0px;
}

.z .bottom {
  background: lime;
  height: 10px;
  width: 200px;
  position: absolute;
  left: 0;
  bottom: 0px;
}

.z .open {
  background: lime;
  height: 143px;
  width: 10px;
  position: absolute;
  left: 50px;
  top: 0px;
}

.z .cross {
  background: lime;
  height: 270px;
  width: 10px;
  position: absolute;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  left: 96px;
  top: -35px;
}


.one {
  display:block;
  width: 200px;
  height: 200px;
}

.one .top {
  background: lime;
  height: 10px;
  width: 110px;
  position: absolute;
  left: 0;
  top: 0px;
}

.one .bottom {
  background: lime;
  height: 10px;
  width: 200px;
  position: absolute;
  left: 0;
  bottom: 0px;
}

.one .open {
  background: lime;
  height: 200px;
  width: 10px;
  position: absolute;
  left: 50px;
  bottom: 0px;
}

.one .center {
  background: lime;
  height: 200px;
  width: 10px;
  position: absolute;
  left: 100px;
  bottom: 0px;
}

.two {
  display:block;
  width: 200px;
  height: 200px;
}
  .two .top {
    display:block;
    width: 130px;
    height: 70px;
    border-style: solid;
    border-width: 10px;
    border-color: lime;
    border-radius:90px;
    border-left-color: transparent;
    border-bottom-left-radius:0px;
    border-top-left-radius:0px;
    left: 5px;
    top: 0px;
    position: absolute;
  }

  .two .bottom {
    height: 110px;
    width: 175px;
    border-style: solid;
    border-width: 10px;
    border-color: lime;
    border-radius: 0px;
    border-right-color:transparent;
    border-top: transparent;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    right: 0;
    bottom: 0;
    position:absolute;
  }

  .two .open {
    background: lime;
    height: 120px;
    width: 10px;
    position: absolute;
    left: 50px;
    bottom: 0px;
  }

.three {
  display:block;
  width: 200px;
  height: 200px;
}
  .three .top {
    display:block;
    width: 130px;
    height: 83px;
    border-style: solid;
    border-width: 10px;
    border-color: lime;
    border-radius:90px;
    border-left-color:transparent;
    border-bottom-left-radius:0px;
    border-top-left-radius:0px;
    border-bottom-color: transparent;
    top: 0px;
    position: absolute;
  }

  .three .bottom {
    height: 100px;
    width: 175px;
    border-style: solid;
    border-width: 10px;
    border-color: lime;
    border-radius: 60px;
    border-left-color:transparent;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    right: 0;
    bottom: 0;
    position:absolute;
  }
  .three .open {
    background: lime;
    height: 200px;
    width: 10px;
    position: absolute;
    left: 50px;
    top: 0px;
  }

.four {
  display:block;
  width: 200px;
  height: 200px;
}

    .four .right2 {
      background: lime;
      height: 200px;
      width: 10px;
      position: absolute;
      right: 0px;
      bottom: 0px;
    }

    .four .right {
      height: 70px;
      width: 180px;
      border-style: solid;
      border-width: 10px;
      border-color: lime;
      border-radius: 75px;
      border-top-color:transparent;
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
      right: 0px;
      top: 0;
      position:absolute;
    }

    .four .open {
      background: lime;
      height: 70px;
      width: 10px;
      position: absolute;
      left: 50px;
      top: 10px;
    }

    .four .top {
      top: 10px;
      background: lime;
      height: 10px;
      width: 50px;
      position: absolute;
      left:0px;
    }


.five {
  display:block;
  width: 200px;
  height: 200px;
}
  .five .top {
    display:block;
    width: 175px;
    height: 70px;
    border-style: solid;
    border-width: 10px;
    border-color: lime;
    border-radius:90px;
    border-right-color:transparent;
    border-bottom-right-radius:0px;
    border-top-right-radius:0px;
    top: 0px;
    right:0px;
    position: absolute;
  }

  .five .bottom {
    height: 110px;
    width: 175px;
    border-style: solid;
    border-width: 10px;
    border-color: lime;
    border-radius: 0px;
    border-left-color:transparent;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top: transparent;
    right: 0px;
    bottom: 0;
    position:absolute;
  }
  .five .open {
    background: lime;
    height: 90px;
    width: 10px;
    position: absolute;
    left: 50px;
    top: 0px;
  }

  .six .top {
    display:block;
    width: 175px;
    height: 90px;
    border-style: solid;
    border-width: 10px;
    border-color: lime;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 90px;
    border-top-right-radius: 90px;
    border-top-left-radius: 90px;
    top: 0px;
    position: absolute;
  }

  .six .bottom {
    display:block;
    width: 200px;
    height: 100px;
    border-style: solid;
    border-width: 10px;
    border-color: lime;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 90px;
    border-top-right-radius: 90px;
    bottom: 0;
    position: absolute;
  }
  .six .open {
    background: lime;
    height: 200px;
    width: 10px;
    position: absolute;
    left: 50px;
    top: 0px;
  }

  .seven {
    display:block;
    width: 200px;
    height: 200px;
  }

  .seven .top {
    background: lime;
    height: 10px;
    width: 200px;
    position: absolute;
    right: 0;
    top: 0px;
  }

  .seven .bottom {
    background: lime;
    width: 150px;
    height: 10px;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }

  .seven .open {
    background: lime;
    height: 200px;
    width: 10px;
    position: absolute;
    left: 50px;
    bottom: 0px;
  }

  .seven .right {
    background: lime;
    height: 200px;
    width: 10px;
    position: absolute;
    right: 0px;
    bottom: 0px;
  }

  .eight .top {
    display:block;
    width: 200px;
    height: 90px;
    border-style: solid;
    border-width: 10px;
    border-color: lime;
    border-radius: 90px;
    top: 0px;
    left: 0px;
    position: absolute;
  }

  .eight .bottom {
    display:block;
    width: 175px;
    height: 100px;
    border-style: solid;
    border-width: 10px;
    border-color: lime;
    border-top-color: transparent;
    border-radius: 90px;
    left: 12.5px;
    bottom: 0px;
    position: absolute;
  }
  .eight .open {
    background: lime;
    height: 195px;
    width: 10px;
    position: absolute;
    left: 50px;
    top: 0px;
  }

  .nine .top {
    display:block;
    width: 175px;
    height: 90px;
    border-style: solid;
    border-width: 10px;
    border-color: lime;
    border-radius: 90px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    top: 0px;
    right: 0px;
    position: absolute;
  }

  .nine .bottom {
    display:block;
    width: 180px;
    height: 100px;
    border-style: solid;
    border-width: 10px;
    border-color: lime;
    border-radius: 90px;
    border-left-color: transparent;
    border-top-color: transparent;
    border-top-right-radius: 0px;
    bottom: 0;
    position: absolute;
  }
  .nine .open {
    background: lime;
    height: 95px;
    width: 10px;
    position: absolute;
    left: 50px;
    top: 5px;
  }

  .zero {
    display:block;
    width: 200px;
    height: 200px;
  }

    .zero .top {
      height: 180px;
      width: 200px;
      border-style: solid;
      border-width: 10px;
      border-color: lime;
      border-radius: 45px;
      left: 0;
      bottom: 0;
    }

    .zero .open {
      background: lime;
      height: 190px;
      width: 10px;
      position: absolute;
      left: 50px;
      bottom: 5px;
    }
