.letter {
  display: inline-block;
  width: 200px;
  height: 200px;
  position: relative;
  margin-right: 2em;
  margin-bottom: 2em;
}

.a .top {
  /*display:block;*/
  height: 200px;
  width: 200px;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  border-bottom-color: transparent;
  border-top-right-radius: 90px;
  border-top-left-radius: 90px;
  border-left-color: black;
  border-right-color:black;
  left: 0;
  top: 0;
  bottom: 0;
}

.a .open {
  background: black;
  height: 180px;
  width: 10px;
  position: absolute;
  left: 50px;
  bottom: 0px;
}

.a .cross {
  background: black;
  height: 10px;
  width: 200px;
  position: absolute;
  left: 0;
  top: 100px;
}

.b .top {
  display:block;
  width: 175px;
  height: 90px;
  /*width: 75%;
  height: 45%*/
  border-style: solid;
  border-width: 10px;
  border-color: black;
  /*border-bottom-color: transparent;*/
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
  border-top-left-radius: 90px;
  top: 0px;
  position: absolute;
}

.b .bottom {
  display:block;
  width: 200px;
  height: 100px;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  border-top-color: transparent;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
  /*top: 100px;*/
  bottom: 0;
  position: absolute;
}

.b .open {
  background: black;
  height: 180px;
  width: 10px;
  position: absolute;
  left: 50px;
  bottom: 0px;
}

.c {
  display:block;
  width: 200px;
  height: 200px;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  border-right-color: transparent;
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
}

.c .open {
  background: black;
  height: 180px;
  width: 10px;
  position: absolute;
  left: 50px;
  bottom: 0;
}

.d {
  display:block;
  width: 200px;
  height: 200px;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
}

.d .open {
  background: black;
  height: 180px;
  width: 10px;
  position: absolute;
  left: 50px;
  bottom: 0;
}

.e {
  display:block;
  width: 200px;
  height: 200px;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  border-right-color: transparent;
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
}

.e .cross {
  background: black;
  height: 10px;
  width: 180px;
  position: absolute;
  right: 0;
  top: 100px;
}

.e .open {
  background: black;
  height: 180px;
  width: 10px;
  position: absolute;
  left: 50px;
  bottom: 0;
}

.f {
  display:block;
  width: 200px;
  height: 200px;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-top-left-radius: 90px;
}

.f .cross {
  background: black;
  height: 10px;
  width: 180px;
  position: absolute;
  right: 0;
  top: 100px;
}

.f .open {
  background: black;
  height: 180px;
  width: 10px;
  position: absolute;
  left: 50px;
  bottom: 0;
}

.g {
  display:block;
  width: 200px;
  height: 200px;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  border-right-color: transparent;
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
}

.g .open {
  background: black;
  height: 180px;
  width: 10px;
  position: absolute;
  left: 50px;
  bottom: 0;
}

.g .cross {
  background: black;
  height: 10px;
  width: 100px;
  position: absolute;
  right: 0;
  top: 100px;
}

.g .right {
  background: black;
  height: 100px;
  width: 10px;
  position: absolute;
  right: 0;
  bottom: 20px;
}

.h {
  display:block;
  width: 200px;
  height: 200px;
}

.h .right {
  background: black;
  height: 200px;
  width: 10px;
  position: absolute;
  right: 0;
  bottom: 0px;
}

.h .left {
  background: black;
  height: 200px;
  width: 10px;
  position: absolute;
  left: 0;
  bottom: 0px;
}

.h .open {
  background: black;
  height: 180px;
  width: 10px;
  position: absolute;
  left: 50px;
  bottom: 0;
}

.h .cross {
  background: black;
  height: 10px;
  width: 180px;
  position: absolute;
  left: 0;
  top: 100px;
}

.i {
  display:block;
  width: 200px;
  height: 200px;
}

.i .top {
  background: black;
  height: 10px;
  width: 200px;
  position: absolute;
  right: 0;
  top: 0px;
}

.i .bottom {
  background: black;
  height: 10px;
  width: 200px;
  position: absolute;
  left: 0;
  bottom: 0px;
}

.i .open {
  background: black;
  height: 180px;
  width: 10px;
  position: absolute;
  left: 50px;
  bottom: 0;
}

.j {
  display:block;
  width: 200px;
  height: 200px;
}

.j .top {
  background: black;
  height: 10px;
  width: 200px;
  position: absolute;
  right: 0;
  top: 0px;
}

.j .open {
  background: black;
  height: 180px;
  width: 10px;
  position: absolute;
  left: 50px;
  bottom: 0;
}

.j .leg {
  height: 190px;
  width: 100px;
  border-style: solid;
  border-width: 10px;
  border-color: black;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-right-radius: 90px;
  /*border-left-color: black;
  border-right-color:black;*/
  left: 100px;
  top: 0;
}

.k {
  display:block;
  width: 200px;
  height: 200px;
}

.k .left {
  background: black;
  height: 200px;
  width: 10px;
  position: absolute;
  left: 0;
  bottom: 0px;
}

.k .open {
  background: black;
  height: 180px;
  width: 10px;
  position: absolute;
  left: 50px;
  bottom: 0;
}

.k .cross {
  background: black;
	height: 150px;
	width: 10px;
	position: absolute;
	-ms-transform: rotate(-40deg); /* IE 9 */
  -webkit-transform: rotate(-40deg); /* Chrome, Safari, Opera */
  transform: rotate(-40deg);
  right: 90px;
  top: 65px;
}

.k .cross2 {
  background: black;
	height: 125px;
	width: 10px;
	position: absolute;
	-ms-transform: rotate(40deg); /* IE 9 */
  -webkit-transform: rotate(40deg); /* Chrome, Safari, Opera */
  transform: rotate(40deg);
  right: 65px;
  bottom: 85px;
}

.l {
  display:block;
  width: 200px;
  height: 200px;
}

.l .bottom {
  background: black;
  height: 10px;
  width: 180px;
  position: absolute;
  right: 0;
  bottom: 0px;
}

.l .open {
  background: black;
  height: 180px;
  width: 10px;
  position: absolute;
  left: 50px;
  top: 0;
}

.l .left {
  background: black;
  height: 200px;
  width: 10px;
  position: absolute;
  left: 0;
  bottom: 0px;
}


.m {
  display:block;
  width: 200px;
  height: 200px;
}
.m .cross2 {
  background: black;
	height: 125px;
	width: 10px;
	position: absolute;
	-ms-transform: rotate(40deg); /* IE 9 */
  -webkit-transform: rotate(40deg); /* Chrome, Safari, Opera */
  transform: rotate(40deg);
  right: 65px;
  bottom: 85px;
}

.m .cross {
  background: black;
	height: 125px;
	width: 10px;
	position: absolute;
	-ms-transform: rotate(-40deg); /* IE 9 */
  -webkit-transform: rotate(-40deg); /* Chrome, Safari, Opera */
  transform: rotate(-40deg);
  right: 140px;
  bottom: 85px;
}

.m .left {
  background: black;
  height: 200px;
  width: 10px;
  position: absolute;
  left: 0;
  bottom: 0px;
}

.m .open {
  background: black;
  height: 125px;
  width: 10px;
  position: absolute;
  left: 50px;
  bottom: 0;
}

.m .right {
  background: black;
  height: 200px;
  width: 10px;
  position: absolute;
  right: 0;
  bottom: 0px;
}

.n {
  display:block;
  width: 200px;
  height: 200px;
}

.n .left {
  background: black;
  height: 200px;
  width: 10px;
  position: absolute;
  left: 0;
  bottom: 0px;
}

.n .open {
  background: black;
  height: 180px;
  width: 10px;
  position: absolute;
  left: 50px;
  bottom: 0;
}

.n .cross {
  background: black;
	height: 200px;
	width: 10px;
	position: absolute;
	-ms-transform: rotate(-40deg); /* IE 9 */
  -webkit-transform: rotate(-40deg); /* Chrome, Safari, Opera */
  transform: rotate(-40deg);
  right: 65px;
  top: 20px;
}

.n .right {
  background: black;
  height: 200px;
  width: 10px;
  position: absolute;
  right: 0;
  bottom: 0px;
}


.o {
  display:block;
  width: 200px;
  height: 200px;
}

  .o .top {
    height: 195px;
    width: 200px;
    border-style: solid;
    border-width: 10px;
    border-color: black;
    border-radius: 90px;
    left: 0;
    bottom: 0;
  }

  .o .open {
    background: black;
    height: 170px;
    width: 10px;
    position: absolute;
    left: 50px;
    bottom: 0;
  }

.p {
  display:block;
  width: 200px;
  height: 200px;
}

  .p .top {
    width: 175px;
    height: 90px;
    border-style: solid;
    border-width: 10px;
    border-color: black;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 90px;
    border-top-right-radius: 90px;
    border-top-left-radius: 90px;
    top: 0px;
    position: absolute;
  }

  .p .open {
    background: black;
    height: 75px;
    width: 10px;
    position: absolute;
    left: 50px;
    bottom: 0;
  }

  .p .left {
    background: black;
    height: 150px;
    width: 10px;
    position: absolute;
    left: 0;
    bottom: 0px;
  }

.q {
  display:block;
  width: 200px;
  height: 200px;
}

    .q .top {
      height: 180px;
      width: 200px;
      border-style: solid;
      border-width: 10px;
      border-color: black;
      border-radius: 90px;
      left: 0;
      bottom: 0;
    }

    .q .open {
      background: black;
      height: 160px;
      width: 10px;
      position: absolute;
      left: 50px;
      bottom: 10px;
    }

    .q .tail {
      background: black;
      height: 50px;
      width: 10px;
      position: absolute;
      right: 25px;
      bottom: 0;
    }

.r {
  display:block;
  width: 200px;
  height: 200px;
}

      .r .top {
        width: 175px;
        height: 90px;
        border-style: solid;
        border-width: 10px;
        border-color: black;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 90px;
        border-top-right-radius: 90px;
        border-top-left-radius: 90px;
        top: 0px;
        position: absolute;
      }

      .r .open {
        background: black;
        height: 75px;
        width: 10px;
        position: absolute;
        left: 50px;
        bottom: 0;
      }

      .r .left {
        background: black;
        height: 150px;
        width: 10px;
        position: absolute;
        left: 0;
        bottom: 0px;
      }

      .r .cross {
        background: black;
      	height: 95px;
      	width: 10px;
      	position: absolute;
      	-ms-transform: rotate(-40deg); /* IE 9 */
        -webkit-transform: rotate(-40deg); /* Chrome, Safari, Opera */
        transform: rotate(-40deg);
        right: 65px;
        top: 115px;
      }

.s {
  display:block;
  width: 200px;
  height: 200px;
}
  .s .top {
    display:block;
    width: 175px;
    height: 90px;
    border-style: solid;
    border-width: 10px;
    border-color: black;
    border-radius:90px;
    border-right-color:transparent;
    border-bottom-right-radius:0px;
    /*border-bottom-width: 180px;*/
    top: 0px;
    position: absolute;
  }

  .s .bottom {
    display:block;
    width: 200px;
    height: 100px;
    border-style: solid;
    border-width: 10px;
    border-color: black;
    border-left-color: transparent;
    border-top-color: transparent;
    border-radius:90px;
    /*border-top-left-radius:0px;*/
    /*top: 100px;*/
    bottom: 0;
    position: absolute;
  }

  .s .open {
    background: black;
    height: 75px;
    width: 10px;
    position: absolute;
    left: 50px;
    bottom: 0;
  }
.t {
  display:block;
  width: 200px;
  height: 200px;
}

  .t .top {
    background: black;
    height: 10px;
    width: 200px;
    position: absolute;
    right: 0;
    top: 0px;
  }

  .t .open {
    background: black;
    height: 180px;
    width: 10px;
    position: absolute;
    left: 50px;
    bottom: 0;
  }

  .t .middle {
    background: black;
    height: 200px;
    width: 10px;
    position: absolute;
    left: 100px;
    bottom: 0px;
  }

.u {
  display:block;
  width: 200px;
  height: 200px;
}

    .u .top {
      height: 195px;
      width: 200px;
      border-style: solid;
      border-width: 10px;
      border-color: black;
      border-radius: 90px;
      border-top-color:transparent;
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
      left: 0;
      bottom: 0;
    }

    .u .open {
      background: black;
      height: 170px;
      width: 10px;
      position: absolute;
      left: 50px;
      top: 0;
    }
.v {
  display:block;
  width: 200px;
  height: 200px;
}
    .v .cross2 {
      background: black;
    	height: 125px;
    	width: 10px;
    	position: absolute;
    	-ms-transform: rotate(40deg); /* IE 9 */
      -webkit-transform: rotate(40deg); /* Chrome, Safari, Opera */
      transform: rotate(40deg);
      right: 78px;
      top: 85px;
    }

    .v .cross {
      background: black;
    	height: 125px;
    	width: 10px;
    	position: absolute;
    	-ms-transform: rotate(-40deg); /* IE 9 */
      -webkit-transform: rotate(-40deg); /* Chrome, Safari, Opera */
      transform: rotate(-40deg);
      right: 153px;
      top: 85px;
    }

    .v .left {
      background: black;
      height: 100px;
      width: 10px;
      position: absolute;
      left: 0;
      top: 0px;
    }

    .v .open {
      background: black;
      height: 125px;
      width: 10px;
      position: absolute;
      left: 50px;
      top: 0;
    }

    .v .right {
      background: black;
      height: 100px;
      width: 10px;
      position: absolute;
      right: 0;
      top: 0px;
    }

.w {
  display:block;
  width: 200px;
  height: 200px;
}

    .w .left {
      height: 195px;
      width: 75px;
      border-style: solid;
      border-width: 10px;
      border-color: black;
      border-radius: 90px;
      border-top-color:transparent;
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
      left: 0;
      bottom: 0;
      position:absolute;
    }

    .w .right {
      height: 195px;
      width: 75px;
      border-style: solid;
      border-width: 10px;
      border-color: black;
      border-radius: 90px;
      border-top-color:transparent;
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
      right: 0px;
      bottom: 0;
      position:absolute;
    }

    .w .open {
      background: black;
      height: 170px;
      width: 10px;
      position: absolute;
      left: 50px;
      top: 0;
    }
.x {
  display:block;
  width: 200px;
  height: 200px;
}
        .x .cross2 {
          background: black;
        	height: 250px;
        	width: 10px;
        	position: absolute;
        	-ms-transform: rotate(40deg); /* IE 9 */
          -webkit-transform: rotate(40deg); /* Chrome, Safari, Opera */
          transform: rotate(40deg);
          right: 78px;
          top: 0px;
        }

        .x .cross {
          background: black;
        	height: 250px;
        	width: 10px;
        	position: absolute;
        	-ms-transform: rotate(-40deg); /* IE 9 */
          -webkit-transform: rotate(-40deg); /* Chrome, Safari, Opera */
          transform: rotate(-40deg);
          left: 100px;
          top: 0px;
        }
        .x .cross3 {
          background: black;
          height: 100px;
          width: 10px;
          position: absolute;
          -ms-transform: rotate(-40deg); /* IE 9 */
          -webkit-transform: rotate(-40deg); /* Chrome, Safari, Opera */
          transform: rotate(-40deg);
          left: 40px;
          top: 50px;
        }
        .x .cross4 {
          background: black;
          height: 100px;
          width: 10px;
          position: absolute;
          -ms-transform: rotate(40deg); /* IE 9 */
          -webkit-transform: rotate(40deg); /* Chrome, Safari, Opera */
          transform: rotate(40deg);
          left: 40px;
          top: 120px;
        }


.y {
  display:block;
  width: 200px;
  height: 200px;
}

    .y .right2 {
      /*background: black;*/
      height: 200px;
      width: 180px;
      border-width:10px;
      position: absolute;
      right: 0;
      bottom: 0px;
      border-bottom-right-radius: 90px;
      border-color:black;
      border-style:solid;
      border-top-color:transparent;
      border-left-color: transparent;
    }

    .y .right {
      height: 50px;
      width: 180px;
      border-style: solid;
      border-width: 10px;
      border-color: black;
      border-radius: 90px;
      border-top-color:transparent;
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
      right: 0px;
      top: 0;
      position:absolute;
    }

    .y .open {
      background: black;
      height: 100px;
      width: 10px;
      position: absolute;
      right: 50px;
      bottom: 10px;
    }

.z {
  display:block;
  width: 200px;
  height: 200px;
}

.z .top {
  background: black;
  height: 10px;
  width: 200px;
  position: absolute;
  right: 0;
  top: 0px;
}

.z .bottom {
  background: black;
  height: 10px;
  width: 200px;
  position: absolute;
  left: 0;
  bottom: 0px;
}

.z .open {
  background: black;
  height: 180px;
  width: 10px;
  position: absolute;
  left: 50px;
  bottom: 0;
}

.z .cross {
  background: black;
  height: 220px;
  width: 10px;
  position: absolute;
  -ms-transform: rotate(40deg); /* IE 9 */
  -webkit-transform: rotate(40deg); /* Chrome, Safari, Opera */
  transform: rotate(40deg);
  left: 70px;
  top: 0px;
}
